<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <title>Quotable Quotes</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "jquery", "application" %>
</head>
<body>

  <%= yield %>

  <div id="footer">
    <br />
    <h3>About Quotable Quotes</h3>
    <p>Quotable Quotes is a simple Ruby on Rails application developed by Mitchell Cope.</p>
  </div>
</body>
</html>

